* {
  box-sizing: border-box;
}
.App {
  text-align: center;
  max-width: 950px;
  margin: 0 auto;
  padding: 0 15px;
}

.container{
  display: flex;
}
.products{
  width: 50%;
  border: 1px solid black;
}
.cart{
  width: 50%;
  border: 1px solid green;
}
