.product-box{
    border: 2px solid midnightblue;
    display: flex;
    justify-content: space-between;
    margin:5px;
    padding: 10px;
}

.product-box img{
    width: 70px;
}

.product-box div{
    align-self: center;
}

.add-cart-btn{
    width: 100px;
    height: 50px;
    background-color: midnightblue;
    color: white;
    font-size: 18px;
    cursor: pointer;
}